.home-movie-frame {
	text-align: center;
}

.home-movie-image {
	height: 220px;
	margin-bottom: 10px;
}


.home-movie-link {
	color: black;
	font-size: 15px;
	text-align: center;
}

.home-movie-link:hover {
	font-size: 18px;	
	text-decoration: none;
}

#footer {
	background-color: #333;
	color: white;
}