.tvshows-li-clickable {
	cursor: pointer;
}


.tvshows-tvshow-frame {
	margin-bottom: 20px;
}

.tvshows-image {
	height: 150px;
	width: 200px;
}

.tvshows-image-frame {

}

.tvshows-description-frame {

}

.tvshows-link {
	color: black;
	font-size: 21px;
	text-align: center;
}

.tvshows-link:hover {
	font-size: 24px;	
	text-decoration: none;

}