<div class="well main-frame">
	<header><h1>FJUME MOVIE DATABASE</h1></header>
	<div ng-repeat="movieRow in moviesArray">
		<div class="row">
			<div class="col-sm-2 col-centered home-movie-frame" ng-repeat="movie in movieRow">
				<a href="#/movie/{{movie.id}}"><img class="home-movie-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{movie.poster_path}}"></img></a>
				<a class="home-movie-link" href="#/movie/{{movie.id}}">{{movie.original_title | shortenText: shortTitleCharacters}}</a>
			</div><!-- end col-sm-2-->
		</div><!-- end row -->
	</div><!-- end movieRow -->			
</div><!-- end well -->
