<div class="well main-frame">
	<div class="row">
		<!-- image -->
		<div class="col-sm-4">
			<img class="person-main-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{basicInformation.profile_path}}"></img>				
		</div><!--end col-sm-4-->
		<!-- description -->
		<div class="col-sm-8">
			<header>
				<h1>{{basicInformation.name}}</h1>
			</header>

			<hr>

			<p>{{basicInformation.biography}}</p>

			<hr>

			<footer>
				<p>Born: {{basicInformation.birthday}} in {{basicInformation.place_of_birth}}</p>
			</footer>
		</div><!--end col-sm-8-->
	</div><!-- end row-->

	<h2>Images</h2>
	<!-- images -->
	<div class="row">
		<div class="col-sm-3" ng-repeat="image in images | limitTo: 4">
			<img class="person-poster-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{image.file_path}}"></img>				
		</div>
	</div><!--end row -->

	<!-- credits -->
	<div class="row">
		<!--movies-->
		<div class="col-sm-6">
			<h2>Movies</h2>
			<div ng-repeat="movieCredit in movieCredits">
				{{movieCredit.character}} - <a href="#/movie/{{movieCredit.id}}">{{movieCredit.original_title}}</a>	
			</div>
		</div>
		<!--tv shows -->
		<div class="col-sm-6">
			<h2>TV Shows</h2>
			<div ng-repeat="tvCredit in tvCredits">
				{{tvCredit.character}} - <a href="#/tvshow/{{tvCredit.id}}">{{tvCredit.original_name}}</a>	
			</div>
		</div>
	</div>
</div><!-- end well -->