<div class="well main-frame">
	<div class="row">
		 <div class="col-md-4">
		 	<h1>{{movies.original_title}}</h1>
			<img src="{{imageBaseUrl}}/{{movies.poster_path}}"></img>
		 </div>
		 <div class="col-md-4 indexRightBar">
		 	<h2>Overview</h2>
		 	<p>{{movies.overview}}</p>
		 	<h2>Cast</h2>
		 	<div ng-repeat="member in cast | limitTo : 5">
				<p>{{member.character}} - {{member.name}}</p>
			</div>
		 </div>
	</div>
	<div class="row">
		<!-- input -->
		<div class="col-sm-6">
			<h1>Give Your Opinion</h1>
			<form name="commentForm" novalidate ng-submit="addComment(username, password, comment)">
				<div class="well">
					<div class="form-group">
						<label for="username">Username</label>
						<input name="username" type="text" class="form-control" required ng-model="username">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input name="email" type="email" class="form-control" required ng-model="email">
					</div>
					<div class="form-group">
						<label for="comment">Comment</label>
						<textarea name="comment" type="text" class="form-control movie-textarea" required ng-model="comment"></textarea> 
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Comment</button>

					</div>
				</div>
			</form>
		</div>
		<!-- past comments -->
		<div class="col-sm-6">
			<h1>Comments</h1>
				<article class="well" ng-repeat="comment in comments">
					<header>
						<h4>{{comment.username}} <small> {{comment.email}}</small></h4>
					</header>

					<p>{{comment.comment}}</p>
					
					<footer> 
						<small>{{comment.timestamp | date:'medium'}}</small>
						<p>
							<button class="btn btn-danger" ng-click="deleteComment()">Delete</button>
						</p>
						
					</footer>
				</article>
		</div>
	</div>

</div>