<div class="well main-frame">
	<div class="row" ng-repeat="person in people">
			<!-- image -->
			<div class="col-sm-3">
				<h3>
					<a href="#/person/{{person.id}}">{{person.name}}</a>
				</h3>
				<img class="people-person-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{person.profile_path}}"></img>
			</div>
			<!-- description -->
			<div class="col-sm-9">
				<div ng-repeat="movie in person.known_for">
					<div class="row people-known-for-frame">
						<div class="col-sm-4">
							<img class="people-movie-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{movie.poster_path}}"></img>							
						</div><!-- end col-sm-4-->
						<div class="col-sm-8">
							<header>								
								<h4 ng-show="attributeExists(movie.original_title)">
									<a href="#/movie/{{movie.id}}">{{movie.original_title}}</a> <small> {{movie.media_type}}</small>
								</h4>	

								<h4 ng-show="attributeExists(movie.original_name)">
									<a href="#/tvshow/{{movie.id}}">{{movie.original_name}}</a> <small> {{movie.media_type}}</small>
								</h4>	
							</header>
							<p>{{movie.overview | shortenText: shortTextCharacters}}</p>
						</div><!-- end col-sm-8	-->
					</div><!-- end people-known-for -->
				</div><!-- end movie-in-known-for-div -->
			</div><!--end col-sm-9 -->
	</div><!-- end person-in-people-div -->
</div><!-- end well -->