<div class="well main-frame">
	<div ng-repeat="searchResult in searchResults" ng-switch on="searchResult.media_type">
		<!--tv -->
		<div ng-switch-when="tv">
			<div class="row">
				<!--image -->
				<div class="col-sm-3">
					<img class="search-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{searchResult.poster_path}}"></img>
				</div>
				<div class="col-sm-9">
					<h1> <a href="#/tvshow/{{searchResult.id}}">{{searchResult.original_name}}</a> <small> {{searchResult.media_type}}</small></h1>
					<p>{{searchResult.overview}}</p>
				</div>
			</div>
			
		</div>

		<!--movie -->
		<div ng-switch-when="movie">
			<div class="row">
				<!--image -->
				<div class="col-sm-3">
					<img class="search-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{searchResult.poster_path}}"></img>
				</div>
				<div class="col-sm-9">
					<h1> <a href="#/movie/{{searchResult.id}}">{{searchResult.original_title}}</a> <small> {{searchResult.media_type}}</small></h1>
					<p>{{searchResult.overview}}</p>
				</div>
			</div>
		</div>	

		<!--person -->
		<div ng-switch-when="person">
			<div class="row">
			<div class="row">
				<div class="col-sm-3">
					<img class="search-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{searchResult.profile_path}}"></img>
				</div>
				<div class="col-sm-9">
					<h1> <a href="#/person/{{searchResult.id}}">{{searchResult.name}}</a> <small> {{searchResult.media_type}}</small></h1>
				</div>
			</div>				
			</div>
		</div>	
	</div>
</div>