<!doctype html>
<html ng-app="fmdb">
    <head>
        <meta charset="utf-8">
        <title>FMDB (Fjume Movie Database)</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/home.css">
        <link rel="stylesheet" href="styles/movie.css">
        <link rel="stylesheet" href="styles/default.css">
        <link rel="stylesheet" href="styles/tvshows.css">
        <link rel="stylesheet" href="styles/people.css">
        <link rel="stylesheet" href="styles/person.css">
        <link rel="stylesheet" href="styles/search.css">

        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">

    </head>
    <body ng-controller="mainCtrl">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">FMBD</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Movies <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#/movies/upcoming">Upcoming</a>
                                    </li>
                                    <li>
                                        <a href="#/movies/popular">Popular</a>
                                    </li>
                                    <li>
                                        <a href="#/movies/upcoming">Upcoming</a>
                                    </li>
                                    <li>
                                        <a href="#/movies/top_rated">Top Rated</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#/tvshows"> TV Shows</a>          
                            </li>
                            <li>
                                <a href="#/people"> People</a>          
                            </li>
                        </ul>
                      
                        <!-- Search box -->
                        <form class="navbar-form navbar-left" role="search">
                            <input type="text" class="form-control" placeholder="Search TMDB API..." ng-model="term">
                            <button type="button" ng-click="findTerm(term)" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>              
                        </form>
                        
                        <!-- Right part of navigation bar -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#/account"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                                    </li>

                                    <li role="separator" class="divider"></li>

                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-off"></span> Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- end navbar-right -->

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div ng-view></div>

        </div> <!-- end app-container -->
        
        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-5">
                        <h4 class="footer-title">About Us</h4>
                        <p class="footer-text">Zorkan's project to test out AngularJS and Twitter's Bootstrap to get a decent job one day. Use last.fm API to discover evertyhing about today's music scene, from hottest artist to top tracks to coolest current concerts and events</p>
                    </div><!-- end col-sm-5 -->
                    
                    <div class="col-sm-5">
                        <h4 class="footer-title">Follow Us</h4>
                            
                            <a href="https://facebook.com" target="_blank">
                                <img src="images/facebook.png" alt="Facebook Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Facebook">
                            </a>
                            
                            <a href="https://twitter.com" target="_blank">
                                <img src="images/twitter.png" alt="Twitter Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
                             </a>

                            <a href="https://plus.google.com" target="_blank">
                                <img src="images/googlePlus.png" alt="Google Plus Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Gogle+">
                            </a>
                    </div><!-- end col-sm-5 -->
                    
                    <div class="col-sm-2">
                        <h4 class="footer-title">Author</h4>
                        <p class="footer-text">Coded with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Zorkan & Fjume</p>  
                    </div><!-- end col-sm-2 -->

                </div><!-- end row -->
            </div><!-- end container -->
        </footer>       

        <!-- LOAD JAVASCRIPT -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script> 
         <script src="scripts/app.module.js"></script>         
        <script src="scripts/app.route.js"></script>             
        <script src="scripts/shared/api.js"></script>
        <script src="scripts/shared/globals.js"></script>
        <script src="scripts/shared/filters.js"></script>

        <script src="scripts/home/homeController.js"></script>
        <script src="scripts/movie/movieController.js"></script>
        <script src="scripts/movies/moviesController.js"></script>
        <script src="scripts/tvshow/tvshowController.js"></script>
        <script src="scripts/tvshows/tvshowsController.js"></script>
        <script src="scripts/person/personController.js"></script>
        <script src="scripts/people/peopleController.js"></script>
        <script src="scripts/search/searchController.js"></script>
        <script src="scripts/account/accountController.js"></script>

    </body>
</html>
