<div class="well main-frame">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-tabs nav-stacked">
	  			<li class="tvshows-li-clickable" ng-click="getData('top_rated')">Top Rated</li>
	  			<li class="tvshows-li-clickable" ng-click="getData('popular')">Popular</li>
	    		<li class="tvshows-li-clickable" ng-click="getData('airing_today')">Airing Today</li>
	  			<li class="tvshows-li-clickable" ng-click="getData('on_the_air')">On The Air</li>			
			</ul>
		</div><!-- end col-sm-3 -->
		<div class="col-sm-9">
			<div class="row">
				<div class="tvshows-tvshow-frame" ng-repeat="tvshow in tvshows">
					<div class="row">
						<div class="col-sm-4">
							<img class="tvshows-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{tvshow.poster_path}}"></img>					
						</div>
						<div class="col-sm-8">
							<h3><a class="tvshows-link" href="#/tvshow/{{tvshow.id}}">{{tvshow.original_name}}</a></h3>
							<p>{{tvshow.overview}}</p>	
						</div>					
					</div>
				</div><!-- end tvshows-tvshow-frame -->				
			</div><!--end row -->
		</div><!--end col-sm-9 -->
	</div><!-- end row -->
</div><!-- end well -->