<div class="well main-frame">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-tabs nav-stacked">
	  			<li class="tvshows-li-clickable">
	  				<a href="#/movies/now_playing">Now Playing</a>
	  			</li>
	  			<li class="tvshows-li-clickable">
	  				<a href="#/movies/popular">Popular</a>
	  			</li>
	 	  		<li class="tvshows-li-clickable">
	  				<a href="#/movies/top_rated">Top Rated</a>
	  			</li>
	  			<li class="tvshows-li-clickable">
	  				<a href="#/movies/upcoming">Upcoming</a>
	  			</li>
			</ul>
		</div><!-- end col-sm-3 -->
		<div class="col-sm-9">
			<div class="row">
				<div class="tvshows-tvshow-frame" ng-repeat="movie in movies">
					<div class="row">
						<div class="col-sm-4">
							<img class="tvshows-image img-thumbnail" ng-src="{{imageBaseUrl}}/{{movie.poster_path}}"></img>					
						</div>
						<div class="col-sm-8">
							<h3><a class="tvshows-link" href="#/movie/{{movie.id}}">{{movie.original_title}}</a></h3>
							<p>{{movie.overview}}</p>	
						</div>					
					</div>
				</div><!-- end tvshows-tvshow-frame -->				
			</div><!--end row -->
		</div><!--end col-sm-9 -->
	</div><!-- end row -->
</div><!-- end well -->