<div class="well main-frame">
	<h1>{{basicInfo.original_name}}</h1>
	<p>{{basicInfo.overview}}</p>
	
	<h1>CAST</h1>
	<div ng-repeat="member in cast | limitTo : 5">
		<p>{{member.character}}</p>
		<p>{{member.name}}</p>
	</div>

	<h1>SIMILAR</h1>
	<div ng-repeat="tvshow in similar | limitTo: 5">
		<p>{{tvshow.original_name}}</p>
	</div>
</div>